# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.prj
ASCII_TminMonths/tmin8.asc.xml
*.asc
ASCII_PrecMonths/prec_5.asc.xml
*.Rhistory
ASCII_PrecMonths/prec_1.asc.xml
*.xml
*.dbf
conto4mgw/conto4mgw.shp
*.shx
MeanPrecip_maizeMX.png
*.png
MuncipiosMaiz_sueloagricola/Rend_Maiz_Mun_2010_USV_s5_Tem_Sel.sbn
*.sbx
MuncipiosMaiz_sueloagricola/Rend_Maiz_Mun_2010_USV_s5_Tem_Sel.shp
*.html
